*{
  list-style: none;
  text-align: center;
}
h1{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: greenyellow;
}
h2{
  display: flex;
  justify-content: center;
  color: rgb(56, 28, 23);

}
input {
  size: 1rem;
  border: 2px solid tomato;
  padding: 10px;
  margin: 10px;
}
input:hover {
  border: 2px solid black;
}
span {
  font-weight: 500;

}